{% load static %}
	<title>Vika's Portofolio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'pink.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<style>
		.mystyle{
			left: 0px;
		}
	</style>
	<!--Main Container-->
	<div class="main-container">
		<!--Aside-->
		<div class="aside">

			<div class="atas">
				<!--Nav Toggle Button-->
				<div class="nav-toggler" id="coba" onclick="myFunc()">
					<span></span>
				</div>
				<!--Nav Toggle Button End-->

				<!--Logo-->
				<div class="logo">
					<a href="#">VPUTRIA</a>
				</div>
				<!--Logo End-->
			</div>		

			<!--Nav-->
			<ul class="nav">
				<li><a onclick="myFunc()" href="#home"><i class="fa fa-home"></i>Home</a></li>
				<li><a onclick="myFunc()" href="#about"><i class="fa fa-user"></i>About</a></li>
				<li><a onclick="myFunc()" href="#education"><i class="fa fa-list"></i>Education</a></li>
				<li><a onclick="myFunc()" href="#portfolio"><i class="fa fa-briefcase"></i>Project</a></li>
			</ul>
			<!--Nav End-->

			<!--Copyrigh-->
			<div class="copyrigh-text">
				Vika Putri Ariyanti &copy 2021
			</div>
			<!--Copyrigh End-->
		</div>
		<!--Aside End-->

		<!--main content-->
		<div class="main-content">
            {% block page_content %}{% endblock %}
		</div>
		<!--main content end-->

	</div>
	<!--Main Container End-->
	<script type="text/javascript">
	let x = document.querySelector(".aside");
	function myFunc() {
		x.classList.toggle("mystyle")
	}
	</script>